/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family:Arial, sans-serif;
	line-height:1.5;
	font-size:16px;
	background: #fff;
	padding:5px;
	color: #ffffff;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6{ font-weight: normal; }

p img { float: left; margin: 0 10px 5px 0; padding: 0; }

img { border: 0; max-width: 100%; }

/* Main Styles */
body {
	background: #9ab6fd;
}

header {
	top:0; left:0;
	height:45px;
	padding-top: 10;
}

footer {
	bottom:0; left:0;
	height:48px;
	background-color:#ff7125;
	border-top:1px solid #eee;
}
header, footer {
	background-color:#ff7125;
	padding:0;
	position:absolute;
	z-index:2;
	font-size:20px;
	width:100%;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
	line-height:45px;
}

h1 {
	margin:0;
	font-size: 20px;
}

#wrapper {
	position:absolute;
	z-index:1;
	top:45px; bottom:48px; left:0;
	width:100%;
	overflow:auto;
}

#main-content {
	position:absolute;
	z-index:1;
	width:100%;
	padding:0;
}

#tab-bar {
	margin:0;
	padding:0;
}

#tab-bar li {
	display: inline;
	float:left;
	width: 33.3%;
}

#tab-bar a {
	color: #ffffff;
	display: block;
	font-weight: bold;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-touch-callout:none;
}

#pages {
	position:relative;
}

/* Update this style */

#pages > div {
	display: none;
	position: absolute;
	top:0;left:0;
	width:100%;
}

#pages > div.current {
	display: block;
	color: white;
}

.in, .out {
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 100ms;
}

@-webkit-keyframes fade-in {
from { opacity: 0; } to { opacity: 1; }
}

.fade.in {
-webkit-animation-name: fade-in;
z-index: 5;
}

.fade.out {
z-index: 0;
}